* {
    box-sizing: border-box;
    display: flex;
}

#outline {
    display: block;
    width: 300px;
    height: auto;
    background-color: lightgray;
    border: 3px solid darkblue;
}

#main {
    flex-direction: row;
}

.display {
    
    width: auto;
    background-color: white;
    border: 5px solid black;
    margin: 3px;
    align-items: center;
    justify-content: end;
    line-height: 80px;
    font-size: 50px;
    padding-right: 10px;
    margin-bottom: 0px;
    
}

#input {
    display: grid;
    width: auto;
    grid-template-columns: auto auto auto;
    grid-gap: 3px;
    padding: 3px;
}

#operators {
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 3px;
    width: auto;
}

.button {
    width: 70px;
    justify-content: center;
    background-color: goldenrod;
    border: 1px solid black;
    line-height: 50px;
    font-size: 25px;
}

.button.operator {
    height: auto;
    background-color: rgb(219, 66, 66);
}

.button.clear {
    background-color: skyblue;
}