* {
    box-sizing: border-box;
}

#outline {
    width: 300px;
    height: auto;
    background-color: rgb(108, 208, 231);
    border: 3px solid darkblue;
}

#main {
    display:flex;
    flex-direction: row;
}

.display {
    
    width: auto;
    background-color: white;
    border: 5px solid black;
    display: flex;
    margin: 3px;
    align-items: center;
    justify-content: end;
    line-height: 80px;
    font-size: 50px;
    padding-right: 10px;
    margin-bottom: 0px;
    
}

#input {
    display: grid;
    width: auto;
    grid-template-columns: auto auto auto;
    grid-gap: 3px;
    padding: 3px;
}

#operators {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 3px;
    width: auto;
}

.button {
    display: flex;
    width: 70px;
    background-color: goldenrod;
    border: 1px solid black;
    justify-content: center;
    line-height: 50px;
    font-size: 20px;
}

.button.operator {
    background-color: rgb(219, 66, 66);
}

.button.clear {
    background-color: darkgoldenrod;
}